.favourite{
    min-height: 100vh;
    min-width: 100vh;
    background-color: black;
    color: yellow
}

.favPosts{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap:wrap;
    padding-top: 50px;
}
