.character {
    min-height: 100%;
    width: 100%;
    background-color: rgb(221, 221, 233);
}

.card-container {
    min-height: 100vh;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.charTitle {
    color: black;
    font-size: 60px;
    padding: 40px 30px;
}

.movieList-container{
    margin: 30px;
    border: 2px black solid;
    border-radius: 5px;
    padding: 15px;
    background-color: rgb(119, 118, 118);
    color: black;
    font-size: 13px !important;
}

.flex-container{
    display: flex;
    justify-content: start;
    align-items: center;
}
