.character {
    height: 100%;
    width: 100%;
    background-color: rgb(221, 221, 233);
}

.card-container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.charTitle {
    color: black;
    font-size: 60px;
    padding: 40px 30px;
}