@import url('https://fonts.googleapis.com/css2?family=Saira:wght@900&display=swap');
.navbar {
  width: 100%;
  color:white;
  font-size: 14px;
  position: fixed;
  top: 0;
  z-index: 999;
  background: rgb(2, 2, 37);
}

.navbar.scrolled {
  background-color: black;
}

.container {
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 2px 50px 2px 50px;
}

.link {
  text-decoration: none;
  color: white;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right>img {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}


.right>.icon {
  margin: 0 15px;
  cursor: pointer;
}

.right>.profile>.options {
  display: none;
  background-color: black;
  border-radius: 5px;
}

.right>.profile>span {
  padding: 10px;
  cursor: pointer;
}

.right>.profile:hover>.options {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.navIcon{
  font-size: 800px;
  color: yellow;
  transform:scale(2.0);

}

.navIcon:hover{
  transform:scale(1.6);
}

svg:hover{
  transform:scale(0.8);
}