.favourite{
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgb(221, 221, 233);
}

.favPosts{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap:wrap;
}